USE [master]
GO
/****** Object:  Database [RENT]    Script Date: 25-05-2021 22:54:06 ******/
CREATE DATABASE [RENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RENT]
GO
/****** Object:  Table [dbo].[addhome]    Script Date: 25-05-2021 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addhome](
	[hid] [int] NULL,
	[category] [varchar](50) NULL,
	[type] [varchar](50) NULL,
	[houseno] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[amount] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[image] [image] NULL,
	[email] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking2]    Script Date: 25-05-2021 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking2](
	[bid] [int] NULL,
	[hid] [int] NULL,
	[type] [varchar](50) NULL,
	[houseno] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[amount] [varchar](50) NULL,
	[semail] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[cusid] [int] NULL,
	[name] [varchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newadmin]    Script Date: 25-05-2021 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newadmin](
	[cusid] [int] NULL,
	[name] [varchar](60) NULL,
	[address] [varchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[pin] [varchar](50) NULL,
	[email] [varchar](60) NULL,
	[pwd] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newuser]    Script Date: 25-05-2021 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newuser](
	[cusid] [int] NULL,
	[fname] [varchar](60) NULL,
	[date] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[pin] [varchar](50) NULL,
	[email] [varchar](60) NULL,
	[pwd] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
